.footer {
  width: 100%;
  background-color: #111;
  color: white;
  background-image: url("/footer-bg.jpg");
  /* background-image: url("/dc-logo-bg.png");*/
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  
}

.logoDC {
  position: absolute;
  right: 10%;
  bottom: 25%;
  width: 300px;
  transform: rotate(-20deg);
  opacity: 0.65;
}

.footerTop {
  display: flex;
  justify-content: start;
  padding: 2rem 1rem;
  max-width: 80%;
  margin: 0 auto;
  align-items: start;
  gap: 0.5rem;
  
}

.footerColumn h4 {
  margin-bottom: 0.7rem;
}

.footerColumn ul {
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
  font-weight: lighter;
  margin-bottom: 20px;
}

.footer-column li {
  margin-bottom: 0.3rem;
  
  
}

.socials{
  display: flex;
  gap: 10px;
}

.footerBanner {
  background-color: black;
  width: 100%;
}

.socials p {
  color: aqua;
}


.footerBannerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.socials ul {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.socials li img {
  width: 24px; /* o come preferisci */
  height: 24px;
}


.signup {
  background-color: transparent;
  border: 2px solid rgb(52, 110, 255);
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}
