.main {
  width: 100%;
  background-color: #222;
  color: white;
}


.contentBox {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}


.jumboImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
}



.comicCard {
  width: calc(100% / 6);
}

.comicCard img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.buttonSerie {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background-color: #0282f9;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

}

